{% extends 'base.html' %}

{% block title %}ATND Notifier | Top{% endblock %}

{% block header %}
<p>Signed in as {{user.nickname}} | <a href="{{ logout_url }}">Sign out</a>
<hr/>
{% endblock %}

{% block contents %}
<h1>Top</h1>
{% if not keyword %}
  <h2>
  キーワードにマッチするイベントがみつかったらGmailでお知らせします
  </h2>
  <p>
  <a href="/keyword">キーワードを設定する</a>
  </p>
{% else %}
  <h2>
    ウォッチ中のキーワード: {{ keyword.keyword }}
  </h2>
  <ul>
    <li>
      <strong>{{ keyword.keyword }}</strong>にマッチするイベントがみつかったらGmailでお知らせします
    </li>
    <li>
      <a href="/keyword">キーワードを変更する</a>
    </li>
  </ul>
  <h3>これまでにみつかったイベント</h3>
  <ul>
    {% for k,v in keyword_event_cnt %}
      <li>{{ k }} </li>
      {% if v %}
      <ul>
        <li><a href="/events?keyword={{k}}">{{ v }}件</a></li>
      </ul>
      {% else %}
      <ul>
        <li>{{ v }}件</li>
      </ul>
      {% endif %}
    {% endfor %}
    </li>
  </ul>
<!--
  <h2>いますぐイベントをさがす</h2>
  <ul>
    <li><a href="/list">さがす</a></li>
  </ul>
-->
<!--
<h3>Google Calendarとの連携</h3>
<ul>
  <li>
{% if token_request_url %}
  <a href="{{token_request_url}}">許可する</a>
{% else %}
  許可中
{% endif %}
</li>
</ul>
-->
<hr/>
  <p>
  <a href="/stop">利用をやめる</a>
  </p>
{% endif %}

{% endblock %}
