{% extends 'base.html' %}

{% block title %}ATND Notifier | Top{% endblock %}

{% block header %}
<div class="title">
<h1><span>ATND Notifier</span></h1>
</div>

<div class="login">
Signed in as {{user.nickname}} | <a href="{{ logout_url }}">Sign out</a>
</div>
{% endblock %}

{% block contents %}
{% if not keyword %}
  <h2>
  キーワードにマッチするイベントをGmailでお知らせします
  </h2>
  <div>
    <button class="button blue" onClick="window.location.href='/keyword'">キーワードを設定する</button>
  </div>
{% else %}
  <h2>
    ウォッチ中のキーワード: {{ keyword.keyword }}
  </h2>
  <ul>
    <li>
      <strong>{{ keyword.keyword }}</strong>にマッチするイベントがみつかったらGmailでお知らせします
    </li>
    <li>
      <button class="button blue" onClick="window.location.href='/keyword'">キーワードを変更する</button>
    </li>
  </ul>
  </p>
  <p>
  <h2>これまでにみつかったイベント</h2>
  <ul>
    {% for k,v in keyword_event_cnt %}
      <li>{{ k }} :
      {% if v %}
        <a href="/events?keyword={{k}}">{{ v }}件</a></li>
      {% else %}
        さがします...
      {% endif %}
    {% endfor %}
    </li>
  </ul>
  </p>
  <div style="border-top: 1px solid #222222">
    <button class="button rosy" onClick="window.location.href='/stop'">利用をやめる</button>
  </div>
<!--
  <h2>いますぐイベントをさがす</h2>
  <ul>
    <li><a href="/list">さがす</a></li>
  </ul>
-->
<!--
<h3>Google Calendarとの連携</h3>
<ul>
  <li>
{% if token_request_url %}
  <a href="{{token_request_url}}">許可する</a>
{% else %}
  許可中
{% endif %}
</li>
</ul>
-->
{% endif %}
{% endblock %}
